* {
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  background-color: #141414;
  margin: 0;
}

table,
th,
td {
  border: 2px solid hsl(204, 19%, 20%);
  padding: 10px;
}

table {
  margin-bottom: 24px;
  border-collapse: collapse;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
  padding: 16px;
  background-color: black;
}

.main {
  max-width: 1400px;
  margin: 0 auto 36px;
  padding-left: 8px;
  padding-right: 8px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: black;
}

.footer__text {
  margin: 0;
  color: #ffffff;
  font-size: 24px;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 69px;
  margin-bottom: 36px;
}

.article {
  overflow-x: auto;
}

.table-wrapper {
  overflow-x: auto;
}

.table-heading {
  font-size: 14px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 87.5%);
}

.table-cell {
  position: relative;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 87.5%);
}

.table-cell--past {
  color: hsl(0, 0%, 54.1%);
}

.logo {
  width: 256px;
}

.title {
  font-size: 42px;
  font-weight: 500;

  margin: 0 0 36px;

  color: #cbcdcf;
}

.subtitle {
  font-size: 36px;
  font-weight: 500;
  color: #e7960a;
}

.subtitle--wotlk {
  color: #4ce0f0;
}

.button {
  border: 1px solid #7d2f19;
  padding: 12px;
  background-color: #7d2f19;
  color: white;
  cursor: pointer;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  width: 150px;
  margin-bottom: 24px;
  margin-right: 16px;
}

.button--disabled {
  opacity: 0.7;
}

.button--secondary {
  background: transparent;
  border: 1px solid #7d2f19;
}

.triangle {
  position: absolute;
  right: -10px;
  bottom: -10px;
  background-color: #c97b23;
  height: 20px;
  width: 20px;
  transform: rotate(-45deg);
}

.triangle--wotlk {
  background-color: #4ce0f0;
}

.helpful {
  text-align: center;
}

.helpful__title {
  color: white;
  margin: 0 0 24px;
  font-size: 24px;
}

.helpful__button {
  width: 200px;
  height: 124px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
}

.helpful__text {
  color: white;
  margin: 0;
  font-size: 18px;
}
