* {
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  background-color: #141414;
  margin: 0;
}

table,
th,
td {
  border: 2px solid hsl(204, 19%, 20%);
  padding: 10px;
}

table {
  margin-bottom: 24px;
  border-collapse: collapse;
}

.header {
  display: flex;
  justify-content: center;
}

.main {
  margin: 0 auto;
  padding: 8px;
  max-width: 1400px;
}

.calendar {
  overflow-x: auto;
  overflow-y: hidden;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 69px;
}

.table-heading {
  font-size: 14px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 87.5%);
}

.table-cell {
  position: relative;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 87.5%);
}

.table-cell--past {
  color: hsl(0, 0%, 54.1%);
}

.logo {
  width: 256px;
}

.title {
  font-size: 24px;
  font-weight: 500;

  margin: 0 0 36px;

  color: #e7960a;
}

.subtitle {
  font-size: 36px;
  font-weight: 500;
  color: #e7960a;
}

.subtitle--bcc {
  color: #bcdb00;
}

.button {
  border: none;
  padding: 12px;
  background-color: #1a67ac;
  color: white;
  cursor: pointer;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  width: 150px;
  margin-bottom: 24px;
  margin-right: 16px;
}

.button--disabled {
  opacity: 0.7;
}

.triangle {
  position: absolute;
  right: -10px;
  bottom: -10px;
  background-color: #c97b23;
  height: 20px;
  width: 20px;
  transform: rotate(-45deg);
}

.triangle--bcc {
  background-color: #bcdb00;
}
